* {
  font-family: "Poppins", sans-serif;
}

.container_main {
  display: flex;
  margin-top: 2%;
  justify-content: space-between;
  align-items: flex-start;
}

.container_products {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

.product-card {
  width: 200px;
  height: 120px;
  padding: 5px;
  border-radius: 5%;
  box-shadow: 2px 4px 6px rgba(2, 2, 2, 0.3);
  text-decoration: none;
  color: black;
  display: block;
}

.temp {
  width: 250px;
  margin-right: 5%;
}

.container_filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  text-wrap: nowrap;
}

.filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
  font-size: 16px;
}

.range-group {
  display: flex;
  flex-direction: column;
}

#sort {
  width: 100px;
  margin-left: 10px;
}

.mobileFilter {
  display: none;
  position: absolute;
  left: 0;
}

.mobileFilterInside {
  display: none;
  position: absolute;
  right: 0;
}

#extraFilterBtn {
  background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  transition: 0.3s;
}

#extraFilterBtn:hover {
  background-color: rgb(156, 154, 154);
  transition: 0.3s;
}

button {
  background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(156, 154, 154);
  transition: 0.3s;
}

@media only screen and (max-width: 1100px) {
  .product-card {
    font-size: 12px;
    width: 150px;
    height: 80px;
  }
  .container_products {
    grid-template-columns: repeat(3, 160px);
  }
  .form {
    display: flex;
  }
}
@media only screen and (max-width: 780px) {
  .container_products {
    grid-template-columns: repeat(2, 160px);
  }
}
@media only screen and (max-width: 540px) {
  .container_filter {
    width: 250px;
    display: none;
    position: absolute;
    flex-direction: column;
    margin-left: 5%;
    text-wrap: nowrap;
    background: white;
    outline: 1px solid black;
    padding: 5px;
  }
  .mobileFilterInside {
    display: block;
    position: absolute;
    right: 0;
  }
  .temp {
    display: none;
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
  }
.container_products {
  grid-template-columns: repeat(1, 210px);
}

.product-card {
  width: 210px;
  height: 130px;
  font-size: 18px;
}

  .container_main {
    justify-content: space-around;
  }
  .mobileFilter {
    display: block;
  }
  .email {
    font-size: 10px !important;
  }
}