$font: 'ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;';

* {
    font-family: "Poppins", sans-serif;
}

.container_main {
     display: flex;
    align-items: flex-start;   
    margin-top:  2%;
}



.container_products {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-self: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    width: 100%;
}




.product-card {
    width: 200px;
    height: 120px;
    padding: 5px;
    border-radius: 5%;
    box-shadow: 2px 4px 6px rgba(2, 2, 2, 0.3);
    text-decoration: none;
    color: black;
    
}


.container_filter {
      width: 250px;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    text-wrap: nowrap;
}

.filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin-bottom: 5px;
     font-family: $font;
     font-size: 14px;

}
.navbar {
    display: flex;  
    gap: 20px;
    align-items: center;
    outline: 1px solid black;
    justify-content: space-between;
    
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 20px;
}

.navbar-right {
 padding-right: 30px;
 display: flex;
 gap: 30px;
}

.navbar a {
 text-decoration: none;
 color: rgb(36, 58, 36);
}


.logout_button {
    float: right;
    font-size: 16px;
}

.search_button {
    font-size: 16px;
}

.search_input {
    font-size: 16px;
    border: 3px solid rgb(160, 156, 156);
    border-radius: 2%;
    padding: 5px;
}
.cart {
    display: none;
    position: absolute;
    height: auto;
    width: auto;
    background-color:white;
    outline: 1px solid black;

}


.cart_button {
    width: 8rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
}


.range-group {
    display: flex;
    flex-direction: column;
}

#sort {
    width: 100px;
    margin-left: 10px;
}

#extraFilterBtn {
    background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5%;
      transition: 0.3s;
}

#extraFilterBtn:hover {
    background-color: rgb(156, 154, 154);
    transition: 0.3s;
}

button {
    background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  border-radius: 5%;
      transition: 0.3s;   
}

button:hover {
        background-color: rgb(156, 154, 154);
    transition: 0.3s;
}


