* {
  font-family: "Poppins", sans-serif;
}

.container_main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form {
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

a {
  color: black;
  text-decoration: none;
}

.navbar a {
  font-weight: 600;
  font-size: 24px;
}

.register {
  font-weight: 600;
}

.login_label {
  margin-top: 20px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.checkbox input {
  height: 1rem;
  width: 1rem;
}

button {
  border-radius: 5%;
  background-color: aqua;
  border: none;
  height: 2.5rem;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(87, 139, 139);
  transition: 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 540px) {
  form {
    width: 50%;
  }
  input {
    height: 2rem;
    padding: 3px;
  }
}