* {
  font-family: "Poppins", sans-serif;
}

button {
  background-color: rgb(213, 210, 210);
  border: none;
  cursor: pointer;
  border-radius: 5%;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(156, 154, 154);
  transition: 0.3s;
}

.product-card {
  width: 200px;
  height: 120px;
  padding: 5px;
  border-radius: 5%;
  box-shadow: 2px 4px 6px rgba(2, 2, 2, 0.3);
  text-decoration: none;
  color: black;
}

.container_main {
  display: flex;
  margin-left: 5%;
  justify-content: space-between;
  margin-top: 2%;
}

.container_products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  gap: 15px;
  display: grid;
  grid-template-columns: repeat(4, 200px);
}

.range-group {
  display: flex;
  flex-direction: column;
}

.temp {
  width: 250px;
}

.container_filter {
  width: 250px;
}

.mobileFilter {
  display: none;
  position: absolute;
  left: 0;
}

.mobileFilterInside {
  display: none;
  position: absolute;
  right: 0;
}

@media only screen and (max-width: 1168px) {
  .product-card {
    font-size: 12px;
    width: 150px;
    height: 80px;
  }
  .grid {
    grid-template-columns: repeat(3, 160px);
  }
  .form {
    display: flex;
  }
}
@media only screen and (max-width: 780px) {
  .grid {
    grid-template-columns: repeat(2, 160px);
  }
}
@media only screen and (max-width: 540px) {
  .container_filter {
    width: 250px;
    display: none;
    position: absolute;
    flex-direction: column;
    margin-left: 5%;
    text-wrap: nowrap;
    background: white;
    outline: 1px solid black;
    padding: 5px;
  }
  .mobileFilterInside {
    display: block;
    position: absolute;
    right: 0;
  }
  .temp {
    display: none;
  }
  .filter-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
  }
  .container_main {
    justify-content: space-around;
  }
  .mobileFilter {
    display: block;
  }
}